<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Login page</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" id="bootstrap-css"/>

    <link rel="shortcut icon" href="" />

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <script>
        $(function () {
            $('#login-form-link').click(function (e) {
                $("#login-form").delay(100).fadeIn(100);
                $("#register-form").fadeOut(100);
                $('#register-form-link').removeClass('active');
                $(this).addClass('active');
                e.preventDefault();
            });
            $('#register-form-link').click(function (e) {
                $("#register-form").delay(100).fadeIn(100);
                $("#login-form").fadeOut(100);
                $('#login-form-link').removeClass('active');
                $(this).addClass('active');
                e.preventDefault();
            });
        });

    </script>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <a class="active" id="login-form-link">Login</a>
                        </div>
                        <div class="col-xs-6">
                            <a id="register-form-link" onclick="changePanelPage()">Register</a>
                        </div>
                    </div>
                    <hr/>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="login-form" th:action="@{/login}" method="post"
                                  th:object="${User}">

                                <div class="form-group">
                                    <input type="text" name="login" id="login" tabindex="1"
                                           class="form-control"
                                           placeholder="Login" th:filed="*{login}"/>
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" id="password" tabindex="2"
                                           class="form-control" placeholder="Password" th:filed="*{password}"/>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="login-submit" id="login-submit"
                                                   tabindex="4"
                                                   class="form-control btn btn-login" value="Log In"/>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <form id="register-form" th:action="@{/registration}" method="post"
                                  th:object="${User}">

                                <div class="form-group">
                                    <input type="text" name="login" id="login" tabindex="1"
                                           class="form-control"
                                           placeholder="Login" value="" th:field="*{login}"/>
                                    <td th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Login error</td>
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" id="password-reg" tabindex="2"
                                           class="form-control" placeholder="Password" th:field="*{password}"/>
                                    <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password
                                        error
                                    </td>
                                </div>
                                <div class="form-group">
                                    <input type="password" name="confirm-password" id="confirm-password-reg"
                                           tabindex="2" class="form-control" placeholder="Confirm Password"/>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="name" id="name" tabindex="1"
                                           class="form-control" placeholder="Full name" th:filed="*{name}"/>
                                    <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Full Name
                                        error
                                    </td>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="register-submit" id="register-submit"
                                                   tabindex="4" class="form-control btn btn-register"
                                                   value="Register Now"/>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">

    var operationMode = /*[[${operationMode}]]*/ 'login';
    if (operationMode == 'login') {
        document.getElementById("login-form").setAttribute("style", "display:block;");
        document.getElementById("register-form").setAttribute("style", "display:none;");
    } else if (operationMode == 'registration') {
        document.getElementById("login-form").setAttribute("style", "display:none;");
        document.getElementById("register-form").setAttribute("style", "display:block;");
    }

    var password = document.getElementById("password-reg")
        , confirm_password = document.getElementById("confirm-password-reg");

    function validatePassword(){
        if(password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;

</script>

</body>
</html>